# atmos ignores

#extensions
*.pdb
*.recipe
*.obj
*.idb
*.o
*.exe
*.cppcheck
*.4coder
*.spv
*.cap
*.rdc
*.rdbg
*.tmp
*.ctm
*.diagsession

#folders
.vs/
build/
docs/doxygen/

#data ignores (large/binary/user files)
data/*.*
data/cfg/
data/fonts/
#data/entities/
#data/levels
data/logs/
data/models/
data/saves/
#data/shaders/
data/sounds/
data/temp/
data/textures/

#specific files
imgui.ini
TODOs.txt
misc/atmos.vcxproj.user
misc/x64/

#delle specifics
misc/shell.bat